body{
    margin: 0;
    background-color: #F5F5F5;
}


.article{
    padding: 5em;
}

.site-logo img{
    height: 103px;
    width: 393px;
}

h1{
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 15;
    color: #1D4D5D;
}

h1 a{
    text-decoration: none;
    color: inherit;
}

.nav{
    text-align: right;
}

.nav ul li {
    list-style: none;
    display: inline;
    padding-right: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: #1D4D5D;
    text-transform: uppercase;
    font-weight: 100;
}

ul li a:hover{
    color:#BDDBD0;
}

.nav ul li a.activepage{
    color:#BDDBD0;
}

.logonav{
    display: flex;
    column-gap: 50px;
    align-items: center;

}

.logonav .site-logo{
    flex-basis: 50%;
}


.logonav .nav{
    flex-basis: 50%;
}



@keyframes opacity{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




h2{
    font-size: 40px;
    font-weight: 200;
    font-family: 'Lora';
    color: #E0A458;
}

p{
    font-size: 20px;
    font-family: 'DM Sans', serif;
    color: #1D4D5D;
    font-weight: 500;
    font-style: none;
}



fieldset{
    border: none;
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;


}


label{
    font-size: 20px;
    font-family: 'DM Sans', serif;
    color: #1D4D5D;
    font-weight: 500;
}

input[type=text] {
    /* display: inline;
    padding: 10px;
    border: none;
    margin: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */

    padding: 15px;
	border: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	border-radius: 3px;
	margin-bottom: 10px;
	width: 250px;
	box-sizing: border-box;
	font-family: 'DM Sans';
	color: #2C3E50;
	font-size: 13px;
  }

textarea{
    padding: 10px;
    border: none;
    margin: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 800px;
    height: 200px;
}


@media screen and (max-width: 800px) {

    .article{
        padding: 2em;
    }

    .logonav {
        flex-direction: column;
    }

    .nav{
        width: auto;
        max-width: none;
    }
    .container{
        flex-direction: column;
    }
    .container .headshot{
        border-radius: 50%;
        box-shadow: unset;
        margin-left: 0;
    }

    h2{
        font-size: 30px;
}
}
